build-UNO-Desktop_Qt_5_9_0_MinGW_32bit-Debug
build-backend-Desktop_Qt_5_9_0_MinGW_32bit-Debug
UNO_Server/cmake-build-debug
backend/.vs
backend/debug
backend/release
backend/x64
build-UNO-Desktop_Qt_5_12_8_MinGW_64_bit-Debug
build-UNO-Desktop_Qt_5_12_8_MSVC2017_32bit-Debug
build-UNO-unknown_1919b5-Debug